* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #141519
}

.container {
    width: 400px;
    margin: 200px auto;
    background-color: #212832;
    padding: 30px;
    border-radius: 20px;
}

.content {
    /* display: none; */
}

.content .image {
    background-color: #262d37;
    width: fit-content;
    border-radius: 50%;
}

.content img {
    width: 15px;
    margin: 15px 15px 12px 15px;
}

h1 {
    color: #fff;
    padding: 10px 0;
    font-size: 30px;
    font-weight: normal;
}

p {
    color: hsl(217, 12%, 63%);
    line-height: 1.5;
    font-size: 15px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li {
    background-color: #262d37;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
}

ul li:hover {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

button {
    margin: 30px 0;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    border: none;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

.report {
    display: none;
    text-align: center;
    padding: 30px;
}

.report .rating {
    background-color: #262d37;
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 15px;
    color: hsla(25, 97%, 53%, 0.8);
}

h2 {
    color: white;
    padding: 10px 0;
}

.active {
    background-color: hsl(25, 97%, 53%);
    color: white;
}
